{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<h1>Профиль</h1>
{{ user }}
<a href="{% url 'post-create' %}">Создать пост</a>
{% if user_posts_list %}
    {% for post in user_posts_list %}
        <div>
            <h4>{{ post.title }}</h4>
            <p>{{ post.datetime }}</p>
            <p>{{ post.content }}</p>
        </div>
    {% endfor %}
{% else %}
<p>У вас еще нет постов</p>
{% endif %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выход</button>
</form>
{% endblock %}